body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Outside container */
#content-box {
    width: 80%;
    height: 800px;
    border: 10px solid lightgray;
    border-radius: 10px;

    background-color: lightgoldenrodyellow;
    
    /* to centre the content box */
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}

/* Left container to display Digimon Info */
#left-digimon-info {
    width: 50%;
    height: 800px;
    background-color: aliceblue;
}

/* Right container to display Digimon list */
#digimon-list {
    width: 50%;
    height: 800px;
    background-color: lavenderblush;
}