body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/digimon-background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

/* Logo header */
#header-container {
    background-color: rgb(255, 255, 255, 0.5);
    text-align: center;
    padding-top: 10px;;
}

/* Navigation Bar */
nav.navbar {
    border-top: rgb(211, 211, 211, 0.5) solid;
    background-color: rgb(255, 255, 255, 0.8); 
}

/* Buttons */
#sortBtn {
    float: right;
}

#searchBtn {
    margin-right: 10px;
}

#refreshBtn {
    margin-right: 10px;
}

/* Outside container */
#content-box {
    width: 80%;
    height: 800px;
    border: 5px solid lightgray;
    border-radius: 10px;
    border-color:rgba(177, 222, 235);
    
    background-color: rgba(255, 255, 255, 0.5);
    /* to centre the content box */
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}


/* Left container */
#left-digimon-info {
    width: 50%;
    height: 780px;
    text-align: center;

}

/* Hide Left container until event triggered */
.none {
    opacity: 0;
}

/* Digimon Image styling */
#left-digimon-info img {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
}

/* Left Digimon-names styling */
#digimonName {
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    font-weight: bold;
}

/* Left Digimon-year styling */
#yearReleased {
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    font-weight: bold;
    display: flex;
    width: 24%;
    margin-left: 38%;
}

/* Left Digimon-types styling */
.type-box {
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    font-weight: bold;
}

/* Left Digimon Description Box */
#digimon-description {
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    overflow-y: auto;
    max-height: 270px;
}


/* Right container to display Digimon list */
#digimon-list {
    width: 50%;
    height: 780px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    font-size: x-large;
}

.digimonNameList {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: rgba(177, 222, 235, 0.8);
}

.digimonNameList:hover {
    background-color: rgb(70, 117, 218);
}

.digimonNameList:active {
    background-color: white;
}